@{
    ViewData["Title"] = "Home Page";
}

<div id="app"></div>

@section scripts {
    <script src="~/dist/js/chunk-vendors.js"></script>
    <script src="~/dist/js/about.js"></script>
    <script src="~/dist/js/app.js"></script>
    <link href="~/dist/css/app.css" rel="stylesheet" type="text/css" />
}
